@use "../0-settings/variables";
@use "../1-tools/grid";

/* Base */
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: variables.$base-font-family;
  font-size: variables.$base-font-size;
  line-height: variables.$base-line-height;
  color: variables.$text-color;
  background-color: variables.$background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  input, textarea {
    border: 1px solid variables.$light-gray;
    outline: none;
  }

  @media only screen and (max-width: grid.$mobile) {
    font-size: 16px;
    line-height: 29px;
  }
}

::placeholder {
  color: variables.$gray;
}

*::selection {
  color: variables.$white;
  background-color: rgba(variables.$brand-color, 0.7);
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$heading-font-family;
  font-weight: variables.$heading-font-weight;
  line-height: variables.$heading-line-height;
  letter-spacing: variables.$heading-letter-spacing;
  color: variables.$heading-color;
}

h1 {
  font-size: variables.$font-size-h1;
}

h2 {
  font-size: variables.$font-size-h2;
}

h3 {
  font-size: variables.$font-size-h3;
}

h4 {
  font-size: variables.$font-size-h4;
}

h5 {
  font-size: variables.$font-size-h5;
}

h6 {
  font-size: variables.$font-size-h6;
}

blockquote {
  position: relative;
  padding: 34px 20px 34px 64px;
  margin-bottom: 0;
  font-size: 28px;
  line-height: 36px;
  font-weight: 900;
  color: variables.$white;

  &:before {
    content: '\201C';
    position: absolute;
    top: 0.59em;
    left: -0.08em;
    font-size: 3.5em;
    color: variables.$brand-color;
  }

  p {
    margin-bottom: 20px;
  }

  cite {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: variables.$text-color;
    &:before {
      content: '\2014' '\00a0';
    }
  }

  @media only screen and (max-width: grid.$mobile) {
    padding: 20px 20px 20px 48px;
    font-size: 20px;
    line-height: 28px;

    &:before {
      top: 0.54em;
    }
  }
}

pre {
  overflow: auto;
  padding: 20px;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;

  &:hover {
    button {
      opacity: 1;
    }
  }

  &>button {
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: variables.$button-background-hover;
    }
  }

  &>button:active,
  &>button:focus {
    opacity: 1;
  }

  button {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 8px 12px;
    border-radius: 8px;
    font-family: variables.$base-font-family;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    outline: none;
    border: none;
    color: variables.$dark;
    background-color: variables.$white;
    opacity: 0;
    transition: all 0.2s ease;
    cursor: pointer;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  &+em {
    display: inline-block;
    width: 100%;
    padding: 20px 0 0;
    font-size: 12px;
    font-style: normal;
    line-height: 1;
    text-align: center;
    color: variables.$text-color;
  }
}

a {
  text-decoration: none;
  color: variables.$text-color;
  transition: variables.$global-transition;
  &:hover {
    color: variables.$brand-color;
  }
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 64px 0;
  border: 0;
  background: variables.$dark;
}

.table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

table {
  font-size: 12px;
  color: rgba(variables.$text-color, .7);
  width: 100%;
  border-width: 1px;
  border-color: variables.$dark;
  border-collapse: collapse;
}

table th {
  padding: 12px;
  font-size: 16px;
  text-align: left;
  border: 1px solid variables.$dark;
  color: variables.$white;
  background-color: variables.$blue-dark;
}

table tr {
  background-color: variables.$dark;
  transition: all .3s ease;
  &:nth-child(even) {
    background-color: transparent;
  }
}

table td {
  padding: 12px;
  font-size: 14px;
  border: 1px solid variables.$dark;
}

table tr:hover {
  color: variables.$white;
}

.gallery-box {
  margin-bottom: 30px;
  em {
    display: inline-block;
    width: 100%;
    padding: 20px 0 0;
    font-size: 12px;
    font-style: normal;
    line-height: 1;
    text-align: center;
    color: variables.$text-color;
    a {
      border-bottom: 2px solid rgba(variables.$text-color, .1);
      &:hover {
        border-color: variables.$brand-color;
        color: variables.$text-color;
        text-decoration: none;
      }
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  img {
    width: 100%;
    height: auto;
  }
}