---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-screen flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> Get to know me </H1>
               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    I am an artist, seeker, husband, and father of four.
<br />


I help creatives, makers, and small business owners create successful businesses.
               </p>
               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    
                    I built my first website back in 2004 while I was still in high school. Fast forward to now—200+ websites later—and I’ve led product marketing and demand generation teams for startups, entrepreneurs, and Fortune 100 companies.
               </p>
                <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    I’ve helped startups launch and get acquired, guided small businesses from zero to their first $10 million, and managed global marketing teams for publicly traded companies. I’ve also worked with government agencies and contractors. I know my way around both the public and private sectors.
                </p>
                <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    I’ve generated millions of dollars for my employers and clients. Now I want to help as many people as possible do the same.
                </p>
                <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    <a class ="underline" href="https://themattgilbert.com/">Check out my full cv.</a>
                </p>
          </div>

         
     </div>
</InfoLayout>
