@use "../0-settings/variables";
@use "../1-tools/grid";

/* Article */
.article {
  align-items: stretch;
  flex-grow: 1;
  min-height: 340px;
  margin-bottom: 32px;
  transition: transform .2s ease;

  &::after {
    content: "";
    display: table;
    padding-top: 25%;
  }

  &:hover {
    transform: translateY(-5px) !important;
  }

  &.hidden {
    display: none
  }

  &--big {
    &::after {
      padding-top: 35%;
      @media (max-width: grid.$desktop) {
        padding-top: 25%;
      }
    }
  }

  @media (max-width: grid.$mobile) {
    min-height: 280px;
  }
}

.article__inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
  background-color: variables.$dark;

  .featured-post {
    position: absolute;
    top: 20px;
    right: 32px;
    z-index: 10;
    display: inline-flex;
    padding: 3px;
    font-size: 16px;
    border-radius: 4px;
    color: variables.$gray;
    background: rgba(255,255,255, 0.08);
    pointer-events: none;
    @media (max-width: grid.$mobile) {
      right: 20px;
    }
  }
}

.article__title {
  margin: 12px 0 12px;
  font-size: 28px;
  line-height: 1;
  a {
    color: variables.$light-gray;
  }
  @media (max-width: grid.$mobile) {
    font-size: 24px;
  }
}

.article__excerpt {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 17px;
  color: variables.$gray;
  @media (max-width: grid.$mobile) {
    font-size: 13px;
  }
}

.article__image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  background-color: variables.$blue-dark;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(variables.$background-color, 0.6);
    pointer-events: none;
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    pointer-events: none;
  }
}

.article__content {
  z-index: 1;
  width: 100%;
  margin-top: auto;
  padding: 0 32px 32px;
  pointer-events: none;

  @media (max-width: grid.$mobile) {
    padding: 20px;
  }
}

.article__meta {
  line-height: 12px;

  .article__date,
  .article__minutes {
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
  }

  .article__date {
    color: variables.$gray;
  }
}

.article__bottom {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: variables.$white;

  a {
    pointer-events: all;
  }
}

.article-tags {
  .article__tag {
    display: inline-block;
    padding: 4px 8px;
    margin: 2px 3px 2px 0;
    font-size: 12px;
    line-height: 10px;
    font-weight: 500;
    letter-spacing: -0.5px;
    border: 2px solid rgba(variables.$white, 0.4);
    border-radius: 24px;
    color: variables.$gray;
    &:hover {
      color: variables.$white;
      border-color: variables.$brand-color;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.article__author {
  float: left;
  flex-shrink: 0;
  .article__author-image {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    padding: 3px;
    margin-right: 8px;
    border: 2px solid variables.$brand-color;
    border-radius: 50%;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .article__author-link {
    font-size: 12px;
    color: variables.$white;
    &:hover {
      color: variables.$white;
    }
  }
  span {
    color: rgba(variables.$white, .8);
  }
}