@use "../0-settings/variables";
@use "../1-tools/grid";

/* Footer Widgets */
.footer-widgets {
  padding: 64px 0 32px;
  .row .col {
    flex-grow: 1;
  }
  @media only screen and (max-width: grid.$tablet) {
    padding: 48px 0 0;
  }
}

.widget {
  margin-bottom: 40px;
  @media only screen and (max-width: grid.$tablet) {
    margin-bottom: 64px;
  }
}

.widget__title {
  position: relative;
  padding-left: 8px;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 1;
  color: variables.$white;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    display: block;
    width: 106px;
    height: 38px;
    border-radius: 4px 0px 0px 4px;
    background: linear-gradient(90deg, variables.$brand-color -5.19%, rgba(variables.$background-color, 0) 100%);;
  }
  @media only screen and (max-width: grid.$desktop) {
    font-size: 24px;
  }
}

// Widget Latest Posts
.recent-posts {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media only screen and (max-width: grid.$mobile) {
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
}

.recent-posts__image {
  position: relative;
  display: block;
  width: 100%;
  max-width: 174px;
  height: 144px;
  margin-right: 20px;
  border-radius: 16px;
  overflow: hidden;
  background: variables.$blue-dark;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
  }
  @media only screen and (max-width: grid.$mobile) {
    height: auto;
    max-width: 100%;
    padding-top: 56.6%;
    margin: 0 0 20px;
  }
}

.recent-posts__content {
  .recent-posts__title {
    font-size: 18px;
    margin: 8px 0;
  }

  .article__author-image {
    width: 28px;
    height: 28px;
  }
}

// Widget Explore Tags
.tag__cloud {
  display: flex;
  flex-wrap: wrap;
  a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 5px 5px 0;
    font-size: 12px;
    line-height: 10px;
    font-weight: 700;
    border: 3px solid rgba(255,255,255,0.1);
    border-radius: 24px;
    color: variables.$gray;
    &:hover {
      border-color: variables.$brand-color;
      color: variables.$white;
    }
  }
}

// Widget Subscribe
.subscribe-subtitle {
  width: 100%;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  color: variables.$gray;
}

.subscribe-group-top {
  display: flex;
  align-items: center;

  .subscribe-email {
    position: relative;
    width: 100%;
    height: 56px;
    padding: 20px;
    font-family: variables.$heading-font-family;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 8px;
    color: variables.$white;
    background-color: variables.$blue-dark;
    border: 2px solid transparent;
    outline: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    transition: border-color .2s ease-in-out;
    cursor: text;
    &::placeholder {
      color: variables.$light-gray;
    }
    &:focus {
      color: variables.$white;
      border-color: variables.$brand-color;
    }
  }

  .subscribe-button {
    margin-left: 10px;
  }
}

/* Footer */
.footer {
  position: relative;
  padding: 64px 0;
  border-top: 2px solid variables.$dark;

  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: grid.$desktop) {
      flex-direction: column;

      .copyright {
        order: 1;
      }
    }
    @media only screen and (max-width: grid.$tablet) {
       align-items: flex-start;
    }
  }
}

/* Copyright */
.copyright {
  font-size: 13px;
  color: variables.$gray;
  a {
    font-weight: 500;
    color: variables.$white;
    &:hover {
      color: variables.$brand-color;
    }
  }
}