@use "../0-settings/variables";
@use "../1-tools/grid";

/* Header */
.header {
  width: 100%;
  margin: 60px 0;
  transition: variables.$global-transition;
  color: variables.$white;

  &.header--top {
    position: absolute;
    top: 0;
    z-index: 100;
  }

  @media (max-width: grid.$desktop) {
    margin: 32px 0;
  }
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Logo */
.logo__link {
  font-family: variables.$heading-font-family;
  font-size: 28px;
  line-height: 1;
  font-weight: 900;
  vertical-align: middle;
  color: variables.$text-color;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -1px;
  &:hover {
    color: variables.$brand-color;
  }
}

.logo__image {
  max-height: 40px;
}

/* Nav */
.main-nav {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.main-nav__box {
  display: flex;
  align-items: center;
  width: 80%;
  padding-top: 200px;
  margin: 0 auto;

  .nav__icon-close {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: rgba(variables.$white, .5);
    transition: all .25s ease;
    cursor: pointer;
    &:hover {
      color: variables.$white;
    }
  }

  @media (max-width: grid.$tablet) {
    padding-top: 100px;

    .nav__icon-close {
      top: 22px;
      right: 42px;
    }
  }

  @media (max-width: grid.$mobile) {
    width: 90%;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.top-nav {
  .nav__list {
    .nav__item {
      display: inline-block;
      margin-right: 45px;
      &:last-child {
        margin-right: 0;
      }

      .nav__link {
        position: relative;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: variables.$text-color;
        &:hover {
          color: variables.$brand-color;
        }
      }
    }
  }

  @media (max-width: grid.$desktop) {
    display: none;
  }
}

.mobile-nav {
  .nav__list {

    .nav__item {
      display: block;
      margin-bottom: 36px;
      text-align: center;
      &:last-child {
        margin-bottom: 0;
      }

      .nav__link {
        position: relative;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: variables.$text-color;
        &:hover {
          color: variables.$brand-color;
        }
      }

      @media (max-width: grid.$mobile) {
        margin-bottom: 28px;
      }
    }
  }
}

.nav-buttons {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: variables.$text-color;

  .search-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: variables.$global-transition;

    span {
      transition: variables.$global-transition;
    }

    &:hover {
      span {
        color: variables.$brand-color;
      }
    }

    span {
      display: block;
      margin-left: 6px;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      @media (max-width: grid.$desktop) {
        display: none;
      }
    }
  }

  .nav__icon-menu {
    display: none;
    margin-right: 10px;
    @media (max-width: grid.$desktop) {
      display: block;
    }
  }

  .nav__icon {
    cursor: pointer;
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  background-color: variables.$dark;
  transition: all 0.5s ease-in-out;
  &.is-open {
    opacity: 1;
    visibility: visible;
  }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: saturate(180%) blur(24px);
    backdrop-filter: saturate(180%) blur(24px);
    background-color: rgba(variables.$dark, .9);
  }
  @media (min-width: grid.$desktop) {
    display: none;
  }
}

.nav-grid {
  width: 100%;
  height: 75vh;
  overflow-y: auto;
}

.nav-grid__item {
  margin-bottom: 30px;
  @media (max-width: grid.$tablet) {
    height: auto;
  }
}

.nav-grid__title {
  position: relative;
  margin-bottom: 48px;
  padding-bottom: 15px;
  font-size: 40px;
  text-align: center;
  color: variables.$text-color;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: block;
    width: 25px;
    height: 2px;
    background-color: variables.$white;
  }
  @media (max-width: grid.$tablet) {
    margin-bottom: 30px;
  }
}