@use "../0-settings/variables";
@use "../1-tools/grid";

/* Hero */
.hero {
  position: relative;
  margin-bottom: 32px;
  overflow: hidden;
  background-color: variables.$dark;
  @media only screen and (max-width: grid.$mobile) {
    box-shadow: none;
  }
}

.hero__inner {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(15, 14, 21, 0.5) 0%, variables.$background-color 100%);
  }
}

.hero__image {
  min-height: 664px;
  user-select: none;
  background-color: variables.$blue-dark;
  img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media only screen and (max-width: grid.$desktop) {
    min-height: 620px;
  }

  @media only screen and (max-width: grid.$tablet) {
    min-height: 500px;
  }

  @media only screen and (max-width: grid.$mobile) {
    min-height: 400px;
  }
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  width: 100%;
  max-width: 650px;
  padding: 0 20px;
  text-align: center;
}

.hero__title {
  font-size: 60px;
  margin: 0 0 10px;
  line-height: 1;
  color: variables.$white;
  @media only screen and (max-width: grid.$mobile) {
    font-size: 43px;
    margin: 0 0 5px;
  }
}

.hero__desc {
  font-size: 20px;
  color: variables.$gray;
  margin: 0;
  @media only screen and (max-width: grid.$mobile) {
    font-size: 16px;
    line-height: 21px;
  }
}

/* Hero Withou Image */
.hero-without-image {
  position: relative;
  margin: 240px 0 160px;
  .hero-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-content {
    width: 100%;
    max-width: 650px;
    padding: 0 20px;
    text-align: center;
  }
  @media only screen and (max-width: grid.$mobile) {
    margin: 160px 0 80px;
  }
}