@use "../1-tools/grid";

/* Pagination */
.load-more {
  margin: 0 auto;
}

.load-more-section {
  margin: 30px auto;
  text-align: center;
  @media only screen and (max-width: grid.$mobile) {
    margin: 20px auto;
  }
}