@use "../0-settings/variables";
@use "../1-tools/grid";

/* Scroll Button */
.top {
  position: fixed;
  bottom: 25px;
  right: -100px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  background-color: variables.$dark;
  color: variables.$white;
  cursor: pointer;
  transition: all .25s ease;

  i {
    vertical-align: middle;
  }

  &:hover {
    color: variables.$dark;
    background: variables.$brand-color;
  }

  &.is-active {
    right: 30px;
  }
}

@media only screen and (max-width: grid.$tablet) {
  .top {
    bottom: 15px;
    &.is-active {
      right: 25px;
    }
  }
}