@use "../0-settings/variables";
@use "../1-tools/grid";

/* Search */
.search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  background-color: variables.$dark;
  transition: all 0.25s ease-in-out;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: saturate(180%) blur(24px);
    backdrop-filter: saturate(180%) blur(24px);
    background-color: rgba(variables.$dark, .9);
  }
}

.search__box {
  position: relative;
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
  padding-top: 140px;

  .search__close {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    line-height: 1;
    color: rgba(variables.$text-color, .5);
    transition: all .25s;
    cursor: pointer;
    &:hover {
      color: variables.$text-color;
    }
  }

  @media (max-width: grid.$tablet) {
    width: 80%;
    padding-top: 100px;
  }
  @media (max-width: grid.$mobile) {
    width: 90%;
  }
}

.search__group {
  position: relative;
  margin-bottom: 64px;

  .search__text {
    width: 100%;
    height: auto;
    padding: 16px 24px;
    font-family: variables.$heading-font-family;
    font-size: 24px;
    font-weight: 900;
    line-height: 42px;
    border-radius: 8px;
    border: 4px solid rgba(variables.$text-color, .1);
    transition: all .3s;
    color: variables.$white;
    background-color: transparent;

    &::-webkit-input-placeholder {
      font-weight: 900;
      color: rgba(variables.$text-color, .8);
    }
    &::placeholder {
      font-weight: 900;
      color: rgba(variables.$text-color, .8);
    }
    &::-ms-clear {
      display: none;
    }
    &:focus {
      color: variables.$text-color;
      background: variables.$dark;
    }

    @media (max-width: grid.$mobile) {
      font-size: 26px;
    }
  }
}

.search-results-list {
  width: 100%;
  list-style: none;

  .no-results{
    font-size: 28px;
    text-align: center;
  }
}

.search-loader {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border-top-color: currentColor;
  animation: spin 0.8s linear infinite;
}