---
import { settings } from '../data/settings';
const { pathname } = Astro.url;
---

<ul class='nav__list list-reset'>
  {
    settings.navigation.items.map((item) => {
      const isActive = pathname === item.url;

      return (
        <li class={`nav__item${isActive ? ' is-active' : ''}`}>
          <a href={item.url} class='nav__link'>
            {item.title}
          </a>
        </li>
      );
    })
  }
</ul>
