<!-- SignupForm.astro -->

<form
  class="w-full max-w-sm mx-auto lg:mx-0 flex flex-col items-center lg:items-start justify-center p-4"
  name="signup"
  method="POST"
  data-netlify="true"
  data-netlify-honeypot="bot-field"
  id="signupForm"
>
  <!-- Required hidden field for Netlify Forms -->
  <input type="hidden" name="form-name" value="signup" />
  <!-- Honeypot field for spam protection -->
  <input type="hidden" name="bot-field" />

  <div class="w-full flex items-center border-b border-accent py-2">
    <input
      class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
      type="text"
      name="name"
      placeholder="Jane Doe"
      aria-label="Full name"
      required
    />
    <button
      id="signupButton"
      class="flex-shrink-0 bg-accent/30 hover:bg-accent/10 text-sm text-black py-1 px-2 rounded"
      type="submit"
    >
      Sign Up
    </button>
  </div>
</form>

<script>
  if (typeof window !== 'undefined') {
    document.getElementById("signupForm")?.addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent default form submission

      const signupButton = document.getElementById("signupButton");
      if (signupButton) {
        signupButton.textContent = "Thanks"; // Change button text to "Thanks"
      }

      // Type assertion to ensure `event.target` is treated as an HTMLFormElement
      const form = event.target as HTMLFormElement | null;
      form?.submit(); // Submit the form only if `form` is not null
    });
  }
</script>
