---
import { settings } from '../data/settings';

const { newsletter } = settings;
---

{
  newsletter.enabled && (
    <div class='col col-4 col-d-6 col-t-12'>
      <div class='widget widget-subscribe'>
        <div class='widget__head'>
          <h3 class='widget__title'>Monthly Content Round Up</h3>
        </div>
        <p class='subscribe-subtitle'>{newsletter.description}</p>
        <form
          class='subscribe-form'
          name='newsletter'
          method='POST'
          data-netlify='true'
        >
          <input type='hidden' name='form-name' value='newsletter' />
          <div class='subscribe-group'>
            <div class='subscribe-group-top'>
              <label class='screen-reader-text' for='newsletter-email'>
                Email address
              </label>
              <input
                class='subscribe-email required email'
                id='newsletter-email'
                type='email'
                name='email'
                placeholder='Email Address'
                required
              />
              <button
                class='subscribe-button button button--primary'
                type='submit'
              >
                {newsletter.buttonText}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  )
}
