---
import Navbar from "@/components/Navbar"
import SmoothScroll from "@/components/SmoothScroll"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/fav.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Matt Gilbert</title>
    <meta property="og:title" content="Matt Gilbert" />
<meta property="og:description" content="The digital garden of Matt Gilbert from Chesapeake, VA" />
<meta property="og:image" content="images/cover.png" />
  </head>
  <body>
    <Navbar client:load />
    <SmoothScroll client:only>
      <slot />
    </SmoothScroll>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
